* {
    box-sizing: border-box;
    text-align: center;
    margin: 30px;
}

body {
    background-image: url("full-bloom.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background-color: #4aaaa5;
    font-family: Georgia;
    border-color: #cccccc;
    color: #ffffff;
    padding: 30px;
    margin-left: 30px;
    border: 1px solid #cccccc;
    width: 27%;
    float: left;
}

ul {
    list-style-type:none;
    margin: -50px;
    padding: 10px;
    margin-right:90px;
    overflow: hidden;
    float: right

}

a:link,a:visited {
    display:block;
    color: #777777;
    width: 120px;
    text-align: center;
    padding: 40px;
    text-decoration: none;
    font-size: 25px;
}

li {
    float: left;
}


h2 {
    text-align: right; 
    color: #4aaaa5;
    font-family: Georgia;
    width: 90px;
    height: 210px;
    border-bottom: 1px solid;
    padding: 10px;
    font-size: 35px;
}


footer {
    border-top: 8px solid #4aaaa5;
    clear: both;
    font-family: Georgia;
    background-color: #666666;
    margin: 5px;
    margin-top:120px;
    padding: 15px; 